.instruccion{
    width: 90%;
    height: 10%;
    margin-top: 15px;
    color: blue;     
}
ul{
    width: auto;    
    height: 400px;  
    overflow-y: auto;    
    color: white;
    background-color: rgba(0, 0, 0, 0.404);    
    font-size: 25px;
    line-height: 30px;
}
.comandos{
    width: auto;    
    height: 400px;
    border-top-color: red 20px;
}
.consola{
    width: auto;    
    height: auto;
    margin: 20px;
    border: blue 10px;    
}
.comando{
    width: auto;    
    height: auto;
    border-color: grey ;
    border: blue 10px;    
}
