<div class="consola">
    <div class="comandos">
        <ul>
            <li *ngFor="let c of comandos">
                {{c}}
            </li>
        </ul>
    </div>    
    <mat-form-field class="instruccion">
      <mat-label>Ingrese Instrucción</mat-label>
      <input matInput type="text" [(ngModel)]="comando" (keyup.enter)="ingresaComando()">
      <button mat-button *ngIf="comando" matSuffix mat-icon-button aria-label="Clear" (click)="ingresaComando()">
        <mat-icon>keyboard_return</mat-icon>
      </button>
    </mat-form-field>
</div>