<h1>Historial Clínico</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sesiones Medicas</th>
        <th scope="col">Profesionales Atendieron</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1-9</th>
        <td>Juan Soto</td>
        <td>15</td>
        <td>35</td>
      </tr>
      <tr>
        <th scope="row">1-9</th>
        <td>Juan Soto</td>
        <td>15</td>
        <td>35</td>
      </tr>
      <tr>
        <th scope="row">1-9</th>
        <td>Juan Soto</td>
        <td>15</td>
        <td>35</td>
      </tr>
      <tr>
        <th scope="row">1-9</th>
        <td>Juan Soto</td>
        <td>15</td>
        <td>35</td>
      </tr>
      <tr>
        <th scope="row">1-9</th>
        <td>Juan Soto</td>
        <td>15</td>
        <td>35</td>
      </tr>
    </tbody>
  </table>